body {
    font-family: Arial, sans-serif;
}

#header_wrapper {
    background-color: #3b5998;
}

#header {
    margin: 0 auto;
    max-width: 980px;
    padding: 10px;
    color: white;
}

#header form {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header form li {
    margin-bottom: 10px;
}

#header form li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#wrapper {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#wrapper #div1 p{
    font-size: 16px;
    font-weight: bold;
}

#div1 {
    flex: 1;
}

#div1 img{
    width: 100px;
    height: 100px;
}

#div2 {
    flex: 1;
    background-color: #f0f2f5;
    padding: 20px;
}

#div2 h1 {
    font-size: 24px;
    margin-top: 0;
}

#div2 p {
    margin-top: 0;
}

#div2 li {
    margin-bottom: 10px;
}

#terms {
    font-size: 12px;
}

#create_page {
    font-size: 14px;
    margin-top: 20px;
}

#footer_wrapper {
    background-color: #f0f2f5;
    padding: 20px 0;
}

#footer1,
#footer2 {
    max-width: 980px;
    margin: 0 auto;
}

#footer1 {
    margin-bottom: 10px;
}

#footer1 a,
#footer2 a {
    text-decoration: none;
    color: #050505;
    margin-right: 10px;
}

#footer2 ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#footer2 ul li {
    flex: 1 0 20%;
    margin-bottom: 5px;
}

#footer2 ul li a {
    font-size: 14px;
}